# Python:
__pycache__
*.egg-info

# IDEs
*.idea*

# venv
venv/

# pkl files
*.pkl

#*.urdf

*.pt

*.log
*.txt

scripts/
models/
#assets/
logs/
save/
baselines/
lib/
bin/
share/
downloads/
pyvenv.cfg
.DS_Store
runs/
logs_tmp/